<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <h3>Login</h3>
  <form method="POST" action="/login">
    <label>Email</label>
    <br/>
    <input name="email"/>
    <br/>
    <label>Password</label>
    <br/>
    <input name="password"/>
    <br/>
    <button
    style="
      color: green (32, 75, 192);
      background-color: white;
      border-radius: 10%;
      border-color: green;
      border-style: solid;
      width: 100px;
      height: 40px;
    "
    type="submit"
  >Login</button>
    </form>
  </form>
</body>
</html>